div.movie-content{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.movie-poster{
    width: 150px;
}

.movie-content>div{
    display: flex
}

.card-title-detail{
    text-align: left;
}

.movie-vote-average{
    text-align: right;
}

.card-title-detail>span{
    font-size: .75rem;
}

.card-title-detail>h5{
    margin: 0;
}

.movie-overview{
    text-align: left;
}

.movie-geners-label{
    text-align: left;
}

.movie-geners-type{
    text-align: right;
}

.movie-content .row-movie-content:nth-child(2){
    margin-top: 20px;
}

.movie-content .row-movie-content:nth-child(3){
    margin-top: 20px;
}
.movie-content .row-movie-content:nth-child(4){
    margin-top: 20px;
}


.companies-label{
    text-align: left;
    font-size: .85rem;
}


.companies-box{
display: flex;
flex-wrap: wrap;
}

.company-content{
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
}

.company-content img{
    width: 45px;
}

img.image-poster{
    width: 210px;
}

.align-left{
    text-align: left;
}
.align-rigth{
    text-align: right;
}

.row-movie-content{
    display: flex;
}

@media(max-width: 1199px){
    .movie-content>div {
        justify-content: center;
    }
}

@media(max-width: 576px){
  
    div.genres{
    display: flex;
    flex-direction: column;    }

  div.genres>div.align-left{
      text-align: center;
    }

    div.genres>div.align-rigth{
        text-align: center;
      }
      .companies-box{
        flex-direction: column;
      }

      .procuction-content>div{
          text-align: center;
      }

      img.image-poster{
        width: 70%;
    }
}

@media(max-width: 768px){
  
    div.title-date-vote{
    display: flex;
    flex-direction: column;    }

  div.title-date-vote>div.align-left{
      text-align: center;
    }

    div.title-date-vote>div.align-rigth{
        text-align: center;
      }
}


.genres>div.align-left>span{
    font-weight: 500;
}


.procuction-content>div.align-left>span{
    font-weight: 500;
}