.body-content{
    padding: 30px 80px;
    display: flex;
    justify-content: center;
}

.detail-body{
    width: 70%;
}

div.card-content-body{
   width: 75%;
   display: inline-block;
   margin-bottom: 10px;
}

div.search-field{
    width: 75%;
    display: inline-flex; 
}

div.body-content a{
    color: rgb(24, 21, 21);
}


@media(max-width: 575px){
    .body-content{
        padding: 20px 15px;
    }
    div.card-content-body {
        width: 90%;
        display: inline-block;
        margin-bottom: 10px;
    }
}