.body-content{
    padding: 30px 80px;
}

@media(max-width: 575px){
    .body-content{
        padding: 20px 15px;
    }
}

div.card-content-body{
   width: 80%;
   display: inline-block;
   margin-bottom: 10px;
}

div.search-field{
    width: 80%;
    display: inline-flex; 
}

div.body-content a{
    color: rgb(24, 21, 21);
}